<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="folder" value="C:\OpenCvProject\PicFtp\" />
    <add key="filter" value="*.jpg" />
    <add key="applicationTemplatePath" value="Templates" />
    <add key="numberplatetemplate" value="FrameWithGray.jpg" />
    <add key="sleepinterval" value="5000"/>
    <add key="1" value="1.jpg" />
    <add key="2" value="2.jpg" />
    <add key="3" value="3.jpg" />
    <add key="4" value="4.jpg" />
    <add key="5" value="5.jpg" />
    <add key="6" value="6.jpg" />
    <add key="7" value="7.jpg" />
    <add key="8" value="8.jpg" />
    <add key="9" value="9.jpg" />
    <add key="0" value="0.jpg" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>